mochatest
.vscode
**.tgz
config*.json
images/
docs/
src/
test/
.dockerignore
Dockerfile
tsconfig.json
tslint.json
.gitignore
.gitlab-ci.yml
.npmrc
node6.Dockerfile
node8.Dockerfile
docs.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
private.key
public.pem
*.csv
Jenkinsfile
report.xml
.github
.prettier*

# nyc
.nyc_output